@use '../base/variables' as v;
@use '../base/mixins' as m;

.proceso{
    margin-bottom: 2rem;
    &:last-of-type{
        margin-bottom: 0;
    }
    &:nth-child(even){
        .texto{
            order: -1;
            //order -1 nos ASEGURA que va a poner en este caso 
            //la clase texto en primer lugar.
            //Solo es posible cuando lo hacemos en FlexBox
        }
    }
    @include m.tablet { 
        
        display: flex;
        gap: v.$separacion;
        align-items: center;
    }
    .imagen,.texto{
        flex: 1;
    }
    .texto{
        h3{
            margin: 0;
            text-align: left;
            color: v.$primario;
            margin-top: 2rem;
            &::after{
                content: '';
                display: block;
                width: 20%;
                height: 5px;
                background-color: v.$secundario;
                margin-top: 1rem;
            }
        }
        p{
            text-align: left;
            margin-bottom: 2rem;
        }
    }
    .imagen{
        
        img{
            border-radius: 20px;
            box-shadow: 5px 5px 15px v.$negro;
            
        
    
        }
    }
    @include m.tablet { 
        
        img{
            transition: .5s ease;
            border: 2rem solid v.$blanco;
            &:hover{
                transform: scale(1.05) rotate(-5deg);
                
    
            }
        }
    }
    
}